@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #fff;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #011d28;
}
@media (max-width: 768px) {
  body {
    background: white;
  }
}

button {
  font-family: inherit;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.cursor {
  cursor: pointer;
}

.header {
  width: 100%;
  background: #000;
  height: 10.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 125px;
}
.header .logo img {
  width: 150px;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 6.8rem;
}
.header__menu a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
}
.header__btn {
  display: flex;
  align-items: center;
  gap: 2.9rem;
}
.header__btn__login {
  background: #404040;
  display: block;
  padding: 1.2rem 4.2rem;
  color: #fff;
  text-decoration: none;
  border-radius: 0.7rem;
  text-transform: uppercase;
}
.header__btn__signup {
  background: #fff;
  display: block;
  padding: 1.2rem 4.2rem;
  color: #000;
  text-decoration: none;
  border-radius: 0.7rem;
  text-transform: uppercase;
}

.logos {
  background: #eeeeee;
  padding-top: 460px;
  padding-bottom: 8.7rem;
}
.logos__img {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logos__img img {
  height: 40px;
}

.hero {
  width: 100%;
  height: 800px;
  background: linear-gradient(180deg, #000000 0%, #666666 173.67%);
}
.hero__inner {
  width: 100%;
  height: 800px;
  background-image: url("/assets/img/hero-bg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}
.hero__inner h1 {
  width: 800px;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  font-size: 4.5rem;
  color: #fff;
  line-height: 156%;
  padding-bottom: 3rem;
  font-weight: 600;
}
.hero__inner p {
  width: 714px;
  margin: 0 auto;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  line-height: 182%;
}
.hero__inner .email-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  gap: 1.5rem;
}
.hero__inner .email-form input {
  width: 300px;
  height: 55px;
  background: #2b2b2b;
  border: 2px solid #ffffff;
  border-radius: 0.7rem;
  padding-left: 3rem;
  font-family: inherit;
  font-size: 1.6rem;
  color: #dbdbdb;
  font-weight: 300;
}
.hero__inner .email-form input::-moz-placeholder {
  color: #dbdbdb;
}
.hero__inner .email-form input::placeholder {
  color: #dbdbdb;
}
.hero__inner .email-form button {
  height: 55px;
  width: 140px;
  border-radius: 0.7rem;
  border: none;
  font-family: inherit;
  color: #000;
  font-size: 1.6rem;
}
.hero__inner__image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.message {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9rem;
  padding: 100px 0;
}
.message img {
  width: 400px;
}
.message .content h3 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 156%;
  padding-bottom: 4.4rem;
}
.message .content p {
  font-size: 1.8rem;
  line-height: 182%;
}

.how-it-works {
  background: linear-gradient(180deg, #000000 0%, #666666 173.67%);
  padding: 100px 0;
}
.how-it-works .title {
  text-align: center;
}
.how-it-works .title h3 {
  font-size: 4rem;
  color: #fff;
  font-weight: 600;
  padding-bottom: 2rem;
}
.how-it-works .title p {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
}
.how-it-works .works-grid {
  width: 1200px;
  margin: 0 auto;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}
.how-it-works .works-grid .item {
  background: #555555;
  border-radius: 23px;
  padding: 2.5rem;
  text-align: center;
}
.how-it-works .works-grid .item h4 {
  font-size: 2.2rem;
  font-weight: 500;
  color: #fff;
  padding-bottom: 3rem;
  position: relative;
  top: -30px;
}
.how-it-works .works-grid .item p {
  font-size: 1.5rem;
  color: #fff;
  position: relative;
  top: -30px;
}
.how-it-works .works-grid .item .icon {
  position: relative;
  top: -70px;
}

.what-is-tesla-coin {
  padding: 10rem 0;
}
.what-is-tesla-coin .title {
  text-align: center;
  margin-bottom: 50px;
}
.what-is-tesla-coin .title h3 {
  font-size: 4rem;
  color: #000;
  font-weight: 600;
  padding-bottom: 2rem;
}
.what-is-tesla-coin .title p {
  font-size: 2rem;
  color: #000;
  font-weight: 400;
  width: 600px;
  margin: 0 auto;
}
.what-is-tesla-coin .what-grid {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.what-is-tesla-coin .what-grid .item {
  background-color: #444040;
  padding: 5.3rem 4.2rem;
  text-align: center;
}
.what-is-tesla-coin .what-grid .item:first-child {
  background: #555555;
}
.what-is-tesla-coin .what-grid .item:last-child {
  background: #333030;
}
.what-is-tesla-coin .what-grid .item h4 {
  font-size: 2.2rem;
  color: #fff;
  font-weight: 300;
  padding-bottom: 2rem;
}
.what-is-tesla-coin .what-grid .item p {
  font-size: 1.5rem;
  color: #fff;
  line-height: 182%;
  padding-top: 2rem;
}

.track-stock {
  background: linear-gradient(180deg, #000000 0%, #666666 173.67%);
  padding: 100px 0;
}
.track-stock .title {
  text-align: center;
  margin-bottom: 50px;
}
.track-stock .title h3 {
  font-size: 4rem;
  color: #fff;
  font-weight: 600;
  padding-bottom: 2rem;
}
.track-stock .title p {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
  width: 600px;
  margin: 0 auto;
}
.track-stock .stock-grid {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.track-stock .stock-grid img {
  width: 500px;
}
.track-stock .stock-grid .content {
  padding-top: 10rem;
}
.track-stock .stock-grid .content p {
  font-size: 1.5rem;
  color: #fff;
  line-height: 182%;
  padding-top: 2rem;
  padding-bottom: 5rem;
}
.track-stock .stock-grid .content ul {
  padding-left: 1rem;
}
.track-stock .stock-grid .content ul li {
  font-size: 1.5rem;
  color: #fff;
  line-height: 182%;
  padding-top: 1rem;
}
.track-stock .stock-grid .content .buttons {
  padding-top: 10rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.track-stock .stock-grid .content .buttons .login {
  background: #404040;
  display: block;
  padding: 1.2rem 4.2rem;
  color: #fff;
  text-decoration: none;
  border-radius: 0.7rem;
  text-transform: uppercase;
}
.track-stock .stock-grid .content .buttons .signup {
  background: #fff;
  display: block;
  padding: 1.2rem 4.2rem;
  color: #000;
  text-decoration: none;
  border-radius: 0.7rem;
  text-transform: uppercase;
}

.major-problems {
  padding: 100px 0;
}
.major-problems .title {
  text-align: center;
  margin-bottom: 50px;
}
.major-problems .title h3 {
  font-size: 4rem;
  color: #000;
  font-weight: 600;
  padding-bottom: 2rem;
}
.major-problems .title p {
  font-size: 2rem;
  color: #000;
  font-weight: 400;
  width: 600px;
  margin: 0 auto;
}
.major-problems .problems-grid {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.6rem;
}
.major-problems .problems-grid .item {
  display: flex;
  align-items: center;
  gap: 40px;
  background: #555555;
  padding: 6.4rem 3.8rem;
}
.major-problems .problems-grid .item .icon img {
  width: 50px;
}
.major-problems .problems-grid .item h4 {
  font-size: 2.2rem;
  color: #fff;
  font-weight: 300;
  padding-bottom: 30px;
}
.major-problems .problems-grid .item p {
  font-size: 1.5rem;
  color: #fff;
  line-height: 182%;
}

.the-solution {
  background: linear-gradient(180deg, #000000 0%, #666666 173.67%);
  padding: 100px 0;
}
.the-solution .title {
  text-align: center;
  margin-bottom: 50px;
}
.the-solution .title h3 {
  font-size: 4rem;
  color: #fff;
  font-weight: 600;
  padding-bottom: 2rem;
}
.the-solution .title p {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
  width: 800px;
  margin: 0 auto;
}
.the-solution .solution-flex {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5rem;
}
.the-solution .solution-flex .item {
  text-align: center;
  color: #fff;
}
.the-solution .solution-flex .item .icon {
  padding-bottom: 20px;
}
.the-solution .solution-flex .item .icon img {
  width: 70px;
}
.the-solution .solution-flex .item h4 {
  padding-bottom: 2rem;
  font-size: 2.2rem;
  font-weight: 400;
}
.the-solution .solution-flex .item p {
  font-size: 1.6rem;
}

.user-reviews {
  background: linear-gradient(180deg, #000000 0%, #666666 173.67%);
  padding: 100px 0;
}
.user-reviews .title {
  text-align: center;
  margin-bottom: 50px;
}
.user-reviews .title h3 {
  font-size: 4rem;
  color: #fff;
  font-weight: 600;
  padding-bottom: 2rem;
}
.user-reviews .title p {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
  width: 600px;
  margin: 0 auto;
}
.user-reviews .review-grid {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.user-reviews .review-grid .item {
  background: #ffffff;
  padding: 50px 40px;
  border-radius: 1.6rem;
}
.user-reviews .review-grid .item .position {
  padding-bottom: 3rem;
}
.user-reviews .review-grid .item .position h5 {
  font-size: 20px;
  color: #000000;
  font-weight: 400;
}
.user-reviews .review-grid .item .position span {
  font-size: 1.6rem;
  color: #000000;
  font-weight: 300;
}
.user-reviews .review-grid .item p {
  font-size: 1.6rem;
  color: #000;
}

.clients {
  background: #eeeeee;
  padding: 100px 0;
}
.clients__inner {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.clients__inner img {
  height: 40px;
}

.ads {
  background: #fff;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ads img {
  width: 700px;
}

.faq {
  background: linear-gradient(180deg, #000000 0%, #666666 173.67%);
  padding: 100px 0;
}
.faq .title {
  text-align: center;
  margin-bottom: 50px;
}
.faq .title h3 {
  font-size: 4rem;
  color: #fff;
  font-weight: 600;
  padding-bottom: 2rem;
}
.faq .title p {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
  width: 800px;
  margin: 0 auto;
}

.contact-us {
  padding: 100px 0;
}
.contact-us .inner {
  width: 1200px;
  max-width: 100%;
  background: #eeeeee;
  margin: 0 auto;
  padding: 4.2rem;
  border-radius: 4rem;
}
.contact-us .inner .title {
  text-align: center;
}
.contact-us .inner .title h3 {
  font-size: 4rem;
  color: #000;
  font-weight: 600;
  padding-bottom: 2rem;
}
.contact-us .inner .title p {
  font-size: 1.6rem;
  color: #000;
  font-weight: 300;
  width: 800px;
  margin: 0 auto;
}
.contact-us .inner .form {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3.7rem;
}
.contact-us .inner .form .form-box input,
.contact-us .inner .form .form-box textarea {
  width: 100%;
  height: 55px;
  background: #bababa;
  padding: 0 3.5rem;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  border-radius: 0.7rem;
  border: none;
}
.contact-us .inner .form .form-box input::-moz-placeholder, .contact-us .inner .form .form-box textarea::-moz-placeholder {
  color: #000;
}
.contact-us .inner .form .form-box input::placeholder,
.contact-us .inner .form .form-box textarea::placeholder {
  color: #000;
}
.contact-us .inner .form .form-box textarea {
  height: 200px;
  padding: 2rem 3.5rem;
}
.contact-us .inner .contact-us-btn {
  width: 100%;
  border: none;
  padding: 2rem 0;
  background: #000;
  border-radius: 0.7rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
}
.contact-us .inner .contact-deatils {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-us .inner .contact-deatils .item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact-us .inner .contact-deatils .item img {
  width: 50px;
}

.footer {
  background: #000;
}
.footer-inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-inner .footer-about img {
  width: 200px;
}
.footer-inner .footer-about p {
  padding-top: 3rem;
  color: #fff;
  font-size: 1.6rem;
}/*# sourceMappingURL=main.css.map */