.header {
	width: 100%;
	background: #000;
	height: 10.6rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 125px;

	@media screen and (max-width: 768px) {
		padding: 0 3.5rem;
	}

	.logo {
		img {
			width: 150px;
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		gap: 6.8rem;

		a {
			text-decoration: none;
			color: #fff;
			font-size: 1.6rem;
			font-weight: 300;
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		gap: 2.9rem;

		&__login {
			background: #404040;
			display: block;
			padding: 1.2rem 4.2rem;
			color: #fff;
			text-decoration: none;
			border-radius: 0.7rem;
			text-transform: uppercase;
		}

		&__signup {
			background: #fff;
			display: block;
			padding: 1.2rem 4.2rem;
			color: #000;
			text-decoration: none;
			border-radius: 0.7rem;
			text-transform: uppercase;
		}
	}
}

.mobile-menu {
	display: none;
}

@media screen and (max-width: 768px) {
	.header__menu,
	.header__btn {
		display: none;
	}

	.mobile-menu {
		display: block;
		background: none;
		border: none;
		cursor: pointer;
	}

	.header .logo img {
		width: 130px;
	}
}
