.message {
	width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 9rem;
	padding: 100px 0;

	img {
		width: 400px;
	}

	.content {
		h3 {
			font-size: 3.5rem;
			font-weight: 600;
			line-height: 156%;
			padding-bottom: 4.4rem;
		}

		p {
			font-size: 1.8rem;
			line-height: 182%;
		}
	}
}

.how-it-works {
	background: linear-gradient(180deg, #000000 0%, #666666 173.67%);
	padding: 100px 0;

	.title {
		text-align: center;

		h3 {
			font-size: 4rem;
			color: #fff;
			font-weight: 600;
			padding-bottom: 2rem;
		}

		p {
			font-size: 2rem;
			color: #fff;
			font-weight: 400;
		}
	}

	.works-grid {
		width: 1200px;
		margin: 0 auto;
		margin-top: 10rem;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 5rem;

		.item {
			background: #555555;
			border-radius: 23px;
			padding: 2.5rem;
			text-align: center;

			h4 {
				font-size: 2.2rem;
				font-weight: 500;
				color: #fff;
				padding-bottom: 3rem;
				position: relative;
				top: -30px;
			}

			p {
				font-size: 1.5rem;
				color: #fff;
				position: relative;
				top: -30px;
			}

			.icon {
				position: relative;
				top: -70px;
			}
		}
	}
}

.what-is-tesla-coin {
	padding: 10rem 0;

	.title {
		text-align: center;
		margin-bottom: 50px;

		h3 {
			font-size: 4rem;
			color: #000;
			font-weight: 600;
			padding-bottom: 2rem;
		}

		p {
			font-size: 2rem;
			color: #000;
			font-weight: 400;
			width: 600px;
			margin: 0 auto;
		}
	}

	.what-grid {
		width: 1200px;
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

		.item {
			background-color: #444040;
			padding: 5.3rem 4.2rem;
			text-align: center;

			&:first-child {
				background: #555555;
			}

			&:last-child {
				background: #333030;
			}

			h4 {
				font-size: 2.2rem;
				color: #fff;
				font-weight: 300;
				padding-bottom: 2rem;
			}

			p {
				font-size: 1.5rem;
				color: #fff;
				line-height: 182%;
				padding-top: 2rem;
			}
		}
	}
}

.track-stock {
	background: linear-gradient(180deg, #000000 0%, #666666 173.67%);
	padding: 100px 0;
	.title {
		text-align: center;
		margin-bottom: 50px;

		h3 {
			font-size: 4rem;
			color: #fff;
			font-weight: 600;
			padding-bottom: 2rem;
		}

		p {
			font-size: 2rem;
			color: #fff;
			font-weight: 400;
			width: 600px;
			margin: 0 auto;
		}
	}

	.stock-grid {
		width: 1200px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr;

		img {
			width: 500px;
		}

		.content {
			padding-top: 10rem;
			p {
				font-size: 1.5rem;
				color: #fff;
				line-height: 182%;
				padding-top: 2rem;
				padding-bottom: 5rem;
			}

			ul {
				padding-left: 1rem;
				li {
					font-size: 1.5rem;
					color: #fff;
					line-height: 182%;
					padding-top: 1rem;
				}
			}

			.buttons {
				padding-top: 10rem;
				display: flex;
				align-items: center;
				gap: 2rem;

				.login {
					background: #404040;
					display: block;
					padding: 1.2rem 4.2rem;
					color: #fff;
					text-decoration: none;
					border-radius: 0.7rem;
					text-transform: uppercase;
				}

				.signup {
					background: #fff;
					display: block;
					padding: 1.2rem 4.2rem;
					color: #000;
					text-decoration: none;
					border-radius: 0.7rem;
					text-transform: uppercase;
				}
			}
		}
	}
}

.major-problems {
	padding: 100px 0;
	.title {
		text-align: center;
		margin-bottom: 50px;

		h3 {
			font-size: 4rem;
			color: #000;
			font-weight: 600;
			padding-bottom: 2rem;
		}

		p {
			font-size: 2rem;
			color: #000;
			font-weight: 400;
			width: 600px;
			margin: 0 auto;
		}
	}

	.problems-grid {
		width: 1200px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 4.6rem;

		.item {
			display: flex;
			align-items: center;
			gap: 40px;
			background: #555555;
			padding: 6.4rem 3.8rem;

			.icon {
				img {
					width: 50px;
				}
			}

			h4 {
				font-size: 2.2rem;
				color: #fff;
				font-weight: 300;
				padding-bottom: 30px;
			}

			p {
				font-size: 1.5rem;
				color: #fff;
				line-height: 182%;
			}
		}
	}
}

.the-solution {
	background: linear-gradient(180deg, #000000 0%, #666666 173.67%);
	padding: 100px 0;
	.title {
		text-align: center;
		margin-bottom: 50px;

		h3 {
			font-size: 4rem;
			color: #fff;
			font-weight: 600;
			padding-bottom: 2rem;
		}

		p {
			font-size: 1.6rem;
			color: #fff;
			font-weight: 300;
			width: 800px;
			margin: 0 auto;
		}
	}

	.solution-flex {
		width: 1200px;
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 5rem;

		.item {
			text-align: center;
			color: #fff;

			.icon {
				padding-bottom: 20px;
				img {
					width: 70px;
				}
			}

			h4 {
				padding-bottom: 2rem;
				font-size: 2.2rem;
				font-weight: 400;
			}

			p {
				font-size: 1.6rem;
			}
		}
	}
}

.user-reviews {
	background: linear-gradient(180deg, #000000 0%, #666666 173.67%);
	padding: 100px 0;

	.title {
		text-align: center;
		margin-bottom: 50px;

		h3 {
			font-size: 4rem;
			color: #fff;
			font-weight: 600;
			padding-bottom: 2rem;
		}

		p {
			font-size: 1.6rem;
			color: #fff;
			font-weight: 300;
			width: 600px;
			margin: 0 auto;
		}
	}

	.review-grid {
		width: 1200px;
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 40px;

		.item {
			background: #ffffff;
			padding: 50px 40px;
			border-radius: 1.6rem;

			.position {
				padding-bottom: 3rem;
				h5 {
					font-size: 20px;
					color: #000000;
					font-weight: 400;
				}

				span {
					font-size: 1.6rem;
					color: #000000;
					font-weight: 300;
				}
			}

			p {
				font-size: 1.6rem;
				color: #000;
			}
		}
	}
}
