.message {
	width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 9rem;
	padding: 100px 0;

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
		max-width: 90%;
		margin: 0 auto;
	}

	img {
		width: 400px;

		@media screen and (max-width: 768px) {
			width: 300px;
			text-align: center;
		}
	}

	.content {
		h3 {
			font-size: 3.5rem;
			font-weight: 600;
			line-height: 156%;
			padding-bottom: 4.4rem;

			@media screen and (max-width: 768px) {
				font-size: 3rem;
			}
		}

		p {
			font-size: 1.8rem;
			line-height: 182%;

			@media screen and (max-width: 768px) {
				font-size: 1.5rem;
			}
		}
	}
}

.how-it-works {
	background: linear-gradient(180deg, #000000 0%, #666666 173.67%);
	padding: 100px 0;

	@media screen and (max-width: 768px) {
		padding: 50px 0;
	}

	.title {
		text-align: center;

		h3 {
			font-size: 4rem;
			color: #fff;
			font-weight: 600;
			padding-bottom: 2rem;

			@media screen and (max-width: 768px) {
				font-size: 3rem;
			}
		}

		p {
			font-size: 2rem;
			color: #fff;
			font-weight: 400;

			@media screen and (max-width: 768px) {
				font-size: 1.6rem;
				font-weight: 300;
			}
		}
	}

	.works-grid {
		width: 1200px;
		max-width: 100%;
		margin: 0 auto;
		margin-top: 10rem;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 5rem;

		@media screen and (max-width: 768px) {
			padding: 2rem;
			grid-template-columns: 1fr;
			gap: 10rem;
		}

		.item {
			background: #555555;
			border-radius: 23px;
			padding: 2.5rem;
			text-align: center;

			h4 {
				font-size: 2.2rem;
				font-weight: 500;
				color: #fff;
				padding-bottom: 3rem;
				position: relative;
				top: -30px;

				@media screen and (max-width: 768px) {
					font-size: 1.8rem;
					font-weight: 400;
				}
			}

			p {
				font-size: 1.5rem;
				color: #fff;
				position: relative;
				top: -30px;
			}

			.icon {
				position: relative;
				top: -70px;
			}
		}
	}
}

.what-is-tesla-coin {
	padding: 10rem 0;

	.title {
		text-align: center;
		margin-bottom: 50px;

		h3 {
			font-size: 4rem;
			color: #000;
			font-weight: 600;
			padding-bottom: 2rem;

			@media screen and (max-width: 768px) {
				font-size: 3rem;
			}
		}

		p {
			font-size: 2rem;
			color: #000;
			font-weight: 400;
			width: 600px;
			max-width: 100%;
			margin: 0 auto;

			@media screen and (max-width: 768px) {
				font-size: 1.6rem;
				font-weight: 300;
			}
		}
	}

	.what-grid {
		width: 1200px;
		max-width: 100%;
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

		@media screen and (max-width: 768px) {
			max-width: 90%;
			grid-template-columns: 1fr;
		}

		.item {
			background-color: #444040;
			padding: 5.3rem 4.2rem;
			text-align: center;

			&:first-child {
				background: #555555;
			}

			&:last-child {
				background: #333030;
			}

			h4 {
				font-size: 2.2rem;
				color: #fff;
				font-weight: 300;
				padding-bottom: 2rem;
			}

			p {
				font-size: 1.5rem;
				color: #fff;
				line-height: 182%;
				padding-top: 2rem;
			}
		}
	}
}

.track-stock {
	background: linear-gradient(180deg, #000000 0%, #666666 173.67%);
	padding: 100px 0;

	@media screen and (max-width: 768px) {
		padding: 5rem 0;
	}
	.title {
		text-align: center;
		margin-bottom: 50px;

		h3 {
			font-size: 4rem;
			color: #fff;
			font-weight: 600;
			padding-bottom: 2rem;

			@media screen and (max-width: 768px) {
				font-size: 3rem;
			}
		}

		p {
			font-size: 2rem;
			color: #fff;
			font-weight: 400;
			width: 600px;
			margin: 0 auto;
			max-width: 100%;

			@media screen and (max-width: 768px) {
				font-size: 1.6rem;
				font-weight: 300;
				padding: 2rem;
			}
		}
	}

	.stock-grid {
		width: 1200px;
		max-width: 100%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr;

		@media screen and (max-width: 768px) {
			grid-template-columns: 1fr;
			max-width: 90%;
		}

		img {
			width: 500px;

			@media screen and (max-width: 768px) {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
			}
		}

		.content {
			padding-top: 10rem;

			@media screen and (max-width: 768px) {
				padding-top: 5rem;
			}
			p {
				font-size: 1.5rem;
				color: #fff;
				line-height: 182%;
				padding-top: 2rem;
				padding-bottom: 5rem;

				@media screen and (max-width: 768px) {
				}
			}

			ul {
				padding-left: 1rem;

				@media screen and (max-width: 768px) {
					padding-left: 3rem;
				}
				li {
					font-size: 1.5rem;
					color: #fff;
					line-height: 182%;
					padding-top: 1rem;
				}
			}

			.buttons {
				padding-top: 10rem;
				display: flex;
				align-items: center;
				gap: 2rem;

				@media screen and (max-width: 768px) {
					padding-top: 3rem;
				}

				.login {
					background: #404040;
					display: block;
					padding: 1.2rem 4.2rem;
					color: #fff;
					text-decoration: none;
					border-radius: 0.7rem;
					text-transform: uppercase;
				}

				.signup {
					background: #fff;
					display: block;
					padding: 1.2rem 4.2rem;
					color: #000;
					text-decoration: none;
					border-radius: 0.7rem;
					text-transform: uppercase;
				}
			}
		}
	}
}

.major-problems {
	padding: 100px 0;
	.title {
		text-align: center;
		margin-bottom: 50px;

		h3 {
			font-size: 4rem;
			color: #000;
			font-weight: 600;
			padding-bottom: 2rem;

			@media screen and (max-width: 768px) {
				font-size: 3rem;
			}
		}

		p {
			font-size: 2rem;
			color: #000;
			font-weight: 400;
			width: 600px;
			margin: 0 auto;
		}
	}

	.problems-grid {
		width: 1200px;
		max-width: 100%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 4.6rem;

		@media screen and (max-width: 768px) {
			grid-template-columns: 1fr;
			max-width: 90%;
			gap: 2rem;
		}

		.item {
			display: flex;
			align-items: center;
			gap: 40px;
			background: #555555;
			padding: 6.4rem 3.8rem;

			@media screen and (max-width: 768px) {
				padding: 2rem;
				gap: 30px;
			}

			.icon {
				img {
					width: 50px;

					@media screen and (max-width: 768px) {
						width: 40px;
					}
				}
			}

			h4 {
				font-size: 2.2rem;
				color: #fff;
				font-weight: 300;
				padding-bottom: 30px;

				@media screen and (max-width: 768px) {
					font-size: 1.8rem;
					padding-bottom: 1rem;
				}
			}

			p {
				font-size: 1.5rem;
				color: #fff;
				line-height: 182%;

				@media screen and (max-width: 768px) {
					font-size: 1.3rem;
				}
			}
		}
	}
}

.the-solution {
	background: linear-gradient(180deg, #000000 0%, #666666 173.67%);
	padding: 100px 0;

	@media screen and (max-width: 768px) {
		padding: 50px 0;
	}
	.title {
		text-align: center;
		margin-bottom: 50px;

		h3 {
			font-size: 4rem;
			color: #fff;
			font-weight: 600;
			padding-bottom: 2rem;

			@media screen and (max-width: 768px) {
				font-size: 3rem;
			}
		}

		p {
			font-size: 1.6rem;
			color: #fff;
			font-weight: 300;
			width: 800px;
			margin: 0 auto;

			@media screen and (max-width: 768px) {
				max-width: 90%;
			}
		}
	}

	.solution-flex {
		width: 1200px;
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 5rem;

		@media screen and (max-width: 768px) {
			max-width: 90%;
			grid-template-columns: 1fr;
		}

		.item {
			text-align: center;
			color: #fff;

			.icon {
				padding-bottom: 20px;
				img {
					width: 70px;
				}
			}

			h4 {
				padding-bottom: 2rem;
				font-size: 2.2rem;
				font-weight: 400;
			}

			p {
				font-size: 1.6rem;
			}
		}
	}
}

.team-members {
	padding: 100px 0;
	@media screen and (max-width: 768px) {
		padding: 50px 0;
	}
	.title {
		text-align: center;
		margin-bottom: 50px;

		h3 {
			font-size: 4rem;
			color: #000;
			font-weight: 600;
			padding-bottom: 2rem;

			@media screen and (max-width: 768px) {
				font-size: 3rem;
			}
		}

		p {
			font-size: 2rem;
			color: #000;
			font-weight: 400;
			width: 600px;
			margin: 0 auto;

			@media screen and (max-width: 768px) {
				max-width: 90%;
				font-size: 1.6rem;
			}
		}
	}

	.team-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 3.4rem;
		width: 1300px;
		margin: 0 auto;

		@media screen and (max-width: 768px) {
			grid-template-columns: 1fr;
			max-width: 90%;
		}

		.item {
			background: #555555;
			padding: 4rem;
			border-radius: 2.5rem;

			.image {
				text-align: center;
				padding-bottom: 1.8rem;

				img {
					width: 110px;
				}
			}

			.content {
				text-align: center;

				h3 {
					color: #fff;
					font-size: 2.2rem;
					font-weight: 500;
				}

				p {
					font-size: 1.5rem;
					color: #fff;
					line-height: 182%;
					padding-bottom: 2rem;
				}

				.social-links {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 1rem;

					img {
						width: 15px;
					}
				}
			}
		}
	}
}

.user-reviews {
	background: linear-gradient(180deg, #000000 0%, #666666 173.67%);
	padding: 100px 0;

	@media screen and (max-width: 768px) {
		padding: 50px 0;
	}

	.title {
		text-align: center;
		margin-bottom: 50px;

		h3 {
			font-size: 4rem;
			color: #fff;
			font-weight: 600;
			padding-bottom: 2rem;

			@media screen and (max-width: 768px) {
				font-size: 3rem;
			}
		}

		p {
			font-size: 1.6rem;
			color: #fff;
			font-weight: 300;
			width: 600px;
			margin: 0 auto;
			@media screen and (max-width: 768px) {
				max-width: 90%;
			}
		}
	}

	.review-grid {
		width: 1200px;
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 40px;

		@media screen and (max-width: 768px) {
			max-width: 90%;
			grid-template-columns: 1fr;
		}

		.item {
			background: #ffffff;
			padding: 50px 40px;
			border-radius: 1.6rem;

			.position {
				padding-bottom: 3rem;
				h5 {
					font-size: 20px;
					color: #000000;
					font-weight: 400;
				}

				span {
					font-size: 1.6rem;
					color: #000000;
					font-weight: 300;
				}
			}

			p {
				font-size: 1.6rem;
				color: #000;
			}
		}
	}
}

.clients {
	background: #eeeeee;
	padding: 100px 0;

	@media screen and (max-width: 768px) {
		padding: 50px 0;
	}

	&__inner {
		width: 1200px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		@media screen and (max-width: 768px) {
			max-width: 90%;
			gap: 3rem;
		}

		img {
			height: 40px;

			@media screen and (max-width: 768px) {
				height: 30px;
			}
		}
	}
}

.ads {
	background: #fff;
	padding: 100px 0;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 700px;

		@media screen and (max-width: 768px) {
			max-width: 90%;
		}
	}
}

.faq {
	background: linear-gradient(180deg, #000000 0%, #666666 173.67%);
	padding: 100px 0;

	@media screen and (max-width: 768px) {
		padding: 50px 0;
	}

	.title {
		text-align: center;
		margin-bottom: 50px;

		h3 {
			font-size: 4rem;
			color: #fff;
			font-weight: 600;
			padding-bottom: 2rem;

			@media screen and (max-width: 768px) {
				font-size: 3rem;
			}
		}

		p {
			font-size: 1.6rem;
			color: #fff;
			font-weight: 300;
			width: 800px;
			margin: 0 auto;

			@media screen and (max-width: 768px) {
				max-width: 100%;
			}
		}
	}

	.wrapper {
		width: 50%;
		margin: 0 auto;
	}

	.accordion-item {
		// background-color: #fff;
		margin: 20px 0;
		border-radius: 10px;
		// box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
	}

	.accordion-header {
		background-color: #fff;
		font-size: 1.4rem;
		font-weight: 300;
		padding: 20px 80px 20px 20px;
		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;
		border-radius: 0 3.3rem 0 0;
	}

	.accordion-header::after {
		content: "▲";
		font-family: inherit;
		font-size: 1.8rem;
		font-weight: 600;
		position: absolute;
		right: 20px;
		transition: 0.2s;
	}

	.accordion-header.active::after {
		transform: rotate(-180deg);
	}

	.answercont {
		max-height: 0;
		overflow: hidden;
		transition: 0.3s;
		// padding: 2rem;
	}

	.answer {
		padding: 0 20px 20px;
		font-size: 1.4rem;
		line-height: 2.5rem;
		color: #fff;
		padding: 2rem;
	}

	@media screen and (max-width: 768px) {
		.wrapper {
			width: 90%;
		}

		h1 {
			font-size: 20px;
		}
	}
}

.contact-us {
	padding: 100px 0;

	.inner {
		width: 1200px;
		max-width: 100%;
		background: #eeeeee;
		margin: 0 auto;
		padding: 4.2rem;
		border-radius: 4rem;

		.title {
			text-align: center;

			h3 {
				font-size: 4rem;
				color: #000;
				font-weight: 600;
				padding-bottom: 2rem;
			}

			p {
				font-size: 1.6rem;
				color: #000;
				font-weight: 300;
				width: 800px;
				margin: 0 auto;
			}
		}

		.form {
			width: 800px;
			max-width: 100%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			gap: 3.7rem;

			.form-box {
				input,
				textarea {
					width: 100%;
					height: 55px;
					background: #bababa;
					padding: 0 3.5rem;
					font-family: inherit;
					font-size: 1.6rem;
					font-weight: 400;
					color: #000;
					border-radius: 0.7rem;
					border: none;

					&::placeholder {
						color: #000;
					}
				}

				textarea {
					height: 200px;
					padding: 2rem 3.5rem;
				}
			}
		}

		.contact-us-btn {
			width: 100%;
			border: none;
			padding: 2rem 0;
			background: #000;
			border-radius: 0.7rem;
			color: #fff;
			font-size: 1.6rem;
			font-weight: 400;
		}

		.contact-deatils {
			display: flex;
			align-items: center;
			justify-content: space-between;

			@media screen and (max-width: 768px) {
				flex-direction: column;
			}

			.item {
				display: flex;
				align-items: center;
				gap: 1rem;

				img {
					width: 50px;
				}
			}
		}
	}
}

.footer {
	background: #000;

	&-inner {
		width: 1200px;
		max-width: 100%;
		margin: 0 auto;
		padding-top: 100px;
		padding-bottom: 80px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 5rem;

		@media screen and (max-width: 768px) {
			grid-template-columns: 1fr;
			padding: 3rem;
			gap: 3rem;
		}

		.footer-about {
			img {
				width: 200px;

				@media screen and (max-width: 768px) {
					width: 120px;
				}
			}

			p {
				padding-top: 3rem;
				color: #fff;
				font-size: 1.6rem;
			}
		}

		.footer-link {
			h4 {
				font-size: 2.2rem;
				font-weight: 500;
				color: #fff;
				padding-bottom: 5rem;
			}

			.links {
				display: flex;
				flex-direction: column;
				gap: 3rem;

				a {
					color: #fff;
					font-size: 1.5rem;
					text-decoration: none;
					font-weight: 300;
				}
			}
		}
	}

	.sub-footer {
		border-top: 2px solid #ffffff;
		width: 1200px;
		max-width: 100%;
		margin: 0 auto;
		padding: 5rem 0;
		text-align: center;

		p {
			font-size: 1.6rem;
			color: #fff;
			font-weight: 300;
		}
	}
}
